.user__details{
    position: absolute;
    top: 50px;
    left: -100px;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #919ba1;
    font-weight: bold;
}
.user__details .details__field{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}